<div class="controller">
    <button class="flipButton" mat-button color="primary"  (click)="flipViews()">Flip views</button>
    <div class="slidercontainer">
        <div class="sliderText">
            Window luminosity
        </div>
        <div class="sliders">
            <input id="windowLevel" type="range" min="0" max="1" step="0.001" value="0.5" (input)="setWindowLevel($event.target.value)"/>
        </div>
    </div>
    <div class="slidercontainer">
        <div class="sliderText">
            Window opacity
        </div>
        <div class="sliders">
            <input class="sliders" id="windowWidth" type="range" min="0" max="1" step="0.001" value="0.5" (input)="setWindowWidth($event.target.value)"/>
        </div>
    </div>
</div>
