<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
      <img src="./../../assets/logo.PNG" alt="IBUS Logo" id="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="view-container">
  <app-coronal-visualisation></app-coronal-visualisation>
  <app-transverse-visualisation></app-transverse-visualisation>
  <app-sagittal-visualisation></app-sagittal-visualisation>
  <app-tridimensional-visualisation></app-tridimensional-visualisation>
</div>
<div>
  <p>
  <br />
  </p>
  <app-sample-get-request></app-sample-get-request>
  <app-file-upload></app-file-upload>
  <app-itk-test></app-itk-test>
</div>