/* Top menu style */
/* The main navigation menu */
.navbar {
  justify-content: left;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#logo {
    height: 100%;
    width: 100%;
}

.navbar-brand {
    width: 10%;
}

.navbar-toggler {
  margin: 0 2% 0 1%;
}

/* Side menu style */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  /* top: 0; */
  left: 0;
  background-color: #f8f9fa; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
}

.menuGroup {
  width: 250px;
  padding: 10px 0 10px 0; /* Place content 60px from the top */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
  
/* The navigation menu links */
.sidenav a {
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  box-sizing: border-box;
}

/* When you mouse over the navigation links, change their color */
.menuGroup a:hover {
  /* border-bottom: 2px solid #0c92ff;
  transition: 0.2s; */
}

.menuGroup .active {
  color: #0c92ff;
  border-bottom: 2px solid #0c92ff;
}

.sideContent {
  display: flex;
  width: 250px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: padding-left .5s;
  padding: 0px;
  min-width: 100%;
  height: calc(100% - 77.75px);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* App view styling */
.view-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}